{% load static %}

<li>
            <article class="post">
                <a href = "{% url "blog_single_post" "healthy_sleep"%}">
                    <img src="{% static 'blog/images/healthy_sleep.jpg' %}" alt="Healthy sleep. How long should it last?"/>
                    <div class="post__content">
                        <h3>Healthy Sleep</h3>
                        <p>Getting 7–9 hours of quality sleep each night is 
                            essential for your body and mind.</p>
                    </div>
                </a>
            </article>
        </li>