{% extends "base.html" %}

{% block title %}
Patrycja Blog
{% endblock %}

{% load static %}
{% block css_files%}
<link rel="stylesheet" href="{% static 'blog/post.css' %}">
<link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block content %}
<section id = "welcome">
    <header>
        {% load static %}
        <img src="{% static 'blog/images/image.jpg' %}" alt = "The author of this blog">
        <h2>Patrycja Blog</h2>
    </header>
        <p>Hi, I am Patrycja and I love to write about healthy lifestyle</p>
</section>

<section id = "latest-posts">
    <h2>My latest Thoughts</h2>
    {% for post in posts %}
    <ul>{% include "blog/includes/post.html" %}</ul>
    {% endfor %}
</section>

<section id="about">
    <h2>What I Do</h2>
    <p>I love programming and coopearating with others to create big things,
        I also enjoy teaching others programming!</p>
    <p>
        My goal is to keep on growing as a developer and trainer also.
    </p>
</section>
{% endblock %}

